*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f0f0f;
color:white;
}

.container{
text-align:center;
}

.circle{
width:300px;
height:300px;
border-radius:50%;
background:conic-gradient(#ff00ff,#00ffff,#ff00ff);
display:flex;
justify-content:center;
align-items:center;
margin:20px auto;
}

.board{
width:220px;
height:220px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:5px;
background:#0f0f0f;
padding:10px;
border-radius:50%;
}

.cell{
background:#111;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
cursor:pointer;
border-radius:10px;
}

.cell:hover{
background:#222;
}

button{
padding:10px 20px;
margin-top:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

.footer{
margin-top:15px;
opacity:.7;
}
